<fieldset>
    <div class = "image-preview">
        <img />
    </div>
    <%= f.file_field :attach_file, class:'file', accept:"image/*" %>
</fieldset>

<!-- script for image upload -->
<script> 
$('document').ready(function(){
    var preview = $(".image-preview img");
    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
});
</script>