<tr>
	<td><%= question.content %></td>
	<td>
		<% if question.attach_type == "No attach" %>
			<i class="fa fa-ban" style="font-size:20px"></i> None
		<% elsif question.attach_type == "Video" %>
			<i class="fa fa-file-video-o" style="font-size:20px"></i> Video
		<% elsif question.attach_type == "Sound"%>
			<i class="fa fa-file-audio-o" style="font-size:20px"></i> Mp3
		<% else %>
			<i class="fa fa-file-image-o" style="font-size:20px"></i> Image
		<% end %>
	</td>
	<td>	
	<% if question.disable == true %>
		<span id = '<%='show-status-'+question.id.to_s%>'>Vô hiệu hóa</span>
		<% b = 'Enable'%>
	<% else %>
		<span id = '<%='show-status-'+question.id.to_s%>'>Công khai</span>
		<% b = 'Disable' %>
	<% end %>
	</td>
	<td><%= question.updated_at %></td>
	<td>
		<%= link_to b, setStatus_path(id: question.id), method: :patch, data: { confirm: 'Are you sure?' }, 
			remote: true, class: "set-status-question", id: 'button-status-'+question.id.to_s %>
		<%= link_to 'Show', question_path(question) %>
		<%= link_to 'Edit', edit_question_path(question) %>
	</td>
</tr>