<div class="card-body">
  <h2 class="title">Phần câu hỏi</h2>
  <%= form_for @question do |form| %>
    <!--<% if @question.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@question.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>-->
    <div class="row row-space">
      <div class="col-9">
        <div class="input-group">
          <label class="label">Nội dung câu hỏi</label>
          <%= form.text_field :attach_type ,hidden: true ,value: @question.attach_type ,id: "attach_type"%>
          <%= form.text_area :content ,class:"input--style-4 form-control" ,id: "ques_content",
            placeholder: "Nội dung" ,minlength:"5" ,maxlength: "1000" ,required: true ,onkeyup: "auto_grow(this)"%>
          <div class="invalid-feedback">
              Vui lòng nhập nội dung câu hỏi.
          </div>
        </div>
        
				
        <% case @question.attach_type %>
				<% when "Images" %>
					<div class="image-preview d-flex justify-content-center p-3"><%=image_tag @question.image %></div>
          <video controls autoplay id="video_player" class="display_none"></video>
          <audio controls id="audio_player" class="display_none"></audio>
				<% when "Sound" %>
          <div class="image-preview"><img/></div>
          <video controls autoplay id="video_player" class="display_none"></video>
					<%= audio_tag rails_blob_path(@question.sound), controls: true ,id:"audio_player"%>
				<% when "Video" %>
          <div class="image-preview d-flex justify-content-center p-3"><img/></div>
					<%= video_tag rails_blob_path(@question.video), controls: true ,id:"video_player" %>
          <audio controls id="audio_player" class="display_none"></audio>
				<% when "No attach" %>
          <div class="image-preview d-flex justify-content-center p-3"><img/></div>
          <video controls autoplay id="video_player" class="display_none"></video>
          <audio controls id="audio_player" class="display_none"></audio>
        <% end %>
      </div>
      <div class="col-3">
        <label class="label">&nbsp;</label>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Trắc nghiệm
          </button>
        </div>
      </div>
    </div>
    <div class="row row-space mt-2">
      <div class="col-7">
        <label class="label--inline">Đính kèm</label>
        <div class="btn-group pl-2" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="selection">Không</span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li class="dropdown-item" value="0">
              <div  class="custom-file-upload" >
                <i class="fa fa-ban" style="font-size: 25px;"></i> 
                Không
              </div>
            </li>
            <li class="dropdown-item" value="1">
              <label for="image-upload" class="custom-file-upload" id="image-upload-label">
                <i class="fa fa-picture-o" style="font-size: 25px;"></i> 
                Hình ảnh
              </label>
            </li>
            <li class="dropdown-item" value="2">
              <label for="audio-upload" class="custom-file-upload" id="audio-upload-label">
                <i class="fa fa-file-audio-o" style="font-size: 25px;"></i>
                Audio ngắn
              </label>
            </li>
            <li class="dropdown-item" value="3">
              <label for="video-upload" class="custom-file-upload" id="video-upload-label">
                <i class="fa fa-file-video-o" style="font-size: 25px;"></i>
                Video ngắn
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-5">
        <div class="input-group">
          <%= form.file_field :image, class:'file--ques', accept:"image/*" ,id:"image-upload"%>
        </div>
        <div class="input-group">
          <%= form.file_field :video, class:'file--ques', accept:"video/*" ,id:"video-upload"%>
        </div>
        <div class="input-group">
          <%= form.file_field :sound, class:'file--ques', accept:"audio/*" ,id:"audio-upload"%>
        </div>
      </div>
    </div>
    <h2 class="title pt-4 mt-3">Phần câu trả lời</h2>
    <div class="row row-space">
      <div class="col-2">
        <label class="label">Đúng</label>
      </div>
      <div class="col-10">
        <label class="label">Nội dung</label>
      </div>
    </div>
    <div class="row row-space  pt-2">
      <div class="col-1 pt-2">
        <%= form.check_box :correct1 ,class:"form-check-input css-checkbox" ,id:"correct1_check"%>
        <label for="correct1_check" class="css-label"></label>
      </div>
      <div class="col-11">
        <%= form.text_field :answer1 ,class:"input--style-4 form-control" , placeholder:"Đáp án thứ nhất" ,required: true ,maxlength: "100"%>
      </div>
    </div>
    <div class="row row-space  pt-2">
      <div class="col-1 pt-2">
        <%= form.check_box :correct2 ,class:"form-check-input css-checkbox" ,id:"correct2_check" %>
        <label for="correct2_check" class="css-label"></label>
      </div>
      <div class="col-11">
        <%= form.text_field :answer2 ,class:"input--style-4 form-control" , placeholder:"Đáp án thứ hai" ,required: true ,maxlength: "100"%>
      </div>
    </div>
    <div class="row row-space  pt-2">
      <div class="col-1 pt-2">
        <%= form.check_box :correct3 ,class:"form-check-input css-checkbox" ,id:"correct3_check" %>
        <label for="correct3_check" class="css-label"></label>
      </div>
      <div class="col-11">
        <%= form.text_field :answer3 ,class:"input--style-4 form-control" , placeholder:"Đáp án thứ ba" ,required: true ,maxlength: "100"%>
      </div>
    </div>
    <div class="row row-space  pt-2">
      <div class="col-1 pt-2">
        <%= form.check_box :correct4 ,class:"form-check-input css-checkbox" ,id:"correct4_check"%>
        <label for="correct4_check" class="css-label"></label>
      </div>
      <div class="col-11">
        <%= form.text_field :answer4 ,class:"input--style-4 form-control" , placeholder:"Đáp án thứ tư" ,required: true ,maxlength: "100"%>
      </div>

    </div>
    <% if @question.errors.messages[:base].any? %>
    <div class="row row-space  pt-2">
      <div class="col-1"></div>
      <div class="invalid-feedback display-inline col-11" >
        Vui lòng chọn đáp án đúng !
      </div>
      <div class="invalid-feedback display-inline col-11" id="invalid-file">
        Vui lòng chọn đáp án đúng !
      </div>
    </div>
    <% end %>
    <div class="row row-space  pt-2">
      <div class="col-1"></div>
      <div class="invalid-feedback display-inline col-11" id="invalid-file" 
      style="visibility: visible;"></div>
    </div>
    <div class="row row-space  pt-4">
      <% if action_name == 'edit' %>
        <%= form.submit "UPDATE CÂU HỎI", class: "btn btn-warning", id:"submit-question-btn"%>
      <% else %>
        <%= form.submit "TẠO CÂU HỎI", class: "btn btn-warning", id:"submit-question-btn"%>
      <% end %>
    </div>
  <% end %>
</div>