<% if @question.disable == true %>
    <% b = '<input type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" checked>'%>
<% else %>
    <% b = '<input type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled">' %>
<% end %>

<div class="page-wrapper bg-gra-02 p-b-100 font-poppins">
  <div class="wrapper wrapper--w680 pt-3 pb-4">
    <div class="card card-4">
      <div class="card-header d-flex">
        <h4 class="mr-auto">Chỉnh sửa câu hỏi</h4>
    
            <%= link_to b.html_safe, setStatus_path(id: @question.id), method: :patch, 
    data: { confirm: 'Are you sure?' }, remote: true, class: "set-status-question", 
    id: 'button-status-' + @question.id.to_s %>
      </div>
      <%= render 'question_form' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  display_frame();
</script>