<div class="main-container container-fluid main-content pt-4">
	<section class="section home-section sevice-section text-white no-padding no-margin" id="service">
		<div class="row no-margin">
			<div class="col-md-2 left-container">
				<div class="d-flex justify-content-center  mb-3">
					<%= link_to '<i class="fa fa-pencil-square-o" style="font-size:24px"></i> Thêm câu hỏi'.html_safe,
					 new_question_path ,class:"btn btn-warning"%>
				</div>
				<ul class="list-group email-action">
					<li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action active-li-item">
						<%= link_to '<i class="fa fa-book" style="font-size:20px"></i> Tất cả'.html_safe,
						 questions_path(status_search: "all"), method: :get, remote: true %>
						<span class="badge badge-primary badge-pill"><%= @total_number_of_question %></span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
						<%= link_to '<i class="fa fa-globe" style="font-size:20px"></i> Công khai'.html_safe, 
						questions_path(status_search: "enable"), method: :get, remote: true %>
						<span class="badge badge-primary badge-pill" id = "numer-enable-question"><%= @number_of_enable_question %></span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
						<%= link_to '<i class="fa fa-lock" style="font-size:20px" aria-hidden="true"></i> Vô hiệu hóa'.html_safe,
						 questions_path(status_search: "disable"), method: :get, remote: true %>
						<span class="badge badge-primary badge-pill" id = "numer-disable-question"><%= @number_of_disable_question %></span>
					</li>
				</ul>
			</div>
			<div class="col-md-10 right-container">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-6">
								<h2 id="title-page">Bảng câu hỏi</h2>
							</div>
								<div class="col-sm-6 ">
									<div class="input-group">
										<%= form_tag questions_path, method: :get, remote: true, id: 'question-search', class:"form-inline my-2 my-lg-0"  do %>
    										<%= text_field_tag :content_search, params[:content_search], class:"form-control", placeholder:"Nội dung tìm kiếm .." %>
    										<%= select_tag :status_search, options_for_select([['all', 'all'], ['enable', 'enable'], ['disable', 'disable']], params[:status_search]) %>
											<div class="input-group-append">
												<%= submit_tag "Search", name: nil, class:"btn btn-outline-secondary" %>
											</div>    											
										<% end %>
									</div> 
								</div>	
								<!--<div class="col-sm-6 ">
										<div class="input-group">											
											<input type="text" class="form-control" placeholder="Nội dung tìm kiếm .." aria-label="Search for">
											<div class="input-group-append">
												<button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
											</div>
										</div> 
								</div>-->
						</div>
					</div>
					<div class="card-body">
						<div id="all-mail" >
							<table class="table table-hover table-bordered mail-table">
								<thead class="thead-dark">
									<tr> 
										<th scope="col">Nội dung</th>
										<th scope="col">Đính kèm</th>
										<th scope="col">Tình trạng</th>
										<th scope="col">Edit lần cuối</th>
										<th scope="col">Chỉnh sửa</th>
									</tr>
								</thead>
								<tbody id="show-question">
									<%= render @questions %>
								</tbody>
							</table>
							<!--<div class="clearfix">
								<div class="hint-text white_color">Showing <b>5</b> out of <b>25</b> entries</div>
								<ul class="pagination">
									<li class="page-item"><a href="#"  class="page-link">Previous</a></li>
									<li class="page-item"><a href="#" class="page-link">1</a></li>
									<li class="page-item"><a href="#" class="page-link">2</a></li>
									<li class="page-item active"><a href="#" class="page-link">3</a></li>
									<li class="page-item"><a href="#" class="page-link">4</a></li>
									<li class="page-item"><a href="#" class="page-link">5</a></li>
									<li class="page-item"><a href="#" class="page-link">Next</a></li>
								</ul>
							</div>-->
						<div id="show_will_paginate"><%= will_paginate @questions %></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>