<div class="page-wrapper bg-gra-02 p-b-100 font-poppins">
  <div class="wrapper wrapper--w680 pt-3 pb-4">
    <div class="card card-4">
      <div class="card-header">
        <%# <%= link_to 'Back', questions_path, class:"btn btn-secondary btn-sm", role:"button", style: "margin-top:10px;" %>
        <h4>Tạo câu hỏi mới</h4>
      </div>
      <%= render 'question_form' %>
    </div>
  </div>
</div>