<div class="container mt-4">
	<div class="card">
	  <div class="card-body">
      <%# <%= link_to 'Back', questions_path, class:"btn btn-secondary btn-sm", role:"button", style: "margin-top:10px;" %>
			<div class="d-flex">
				<div class="mr-auto p-2">
					<h2 id="title-page">Câu hỏi vừa khởi tạo</h2>
				</div>
				<div class="p-2">
					<p><strong>Trạng thái : </strong>
					<% if @question.disable == true %>
						<% b = 'Vô hiệu hóa'%>
					<% else %>
						<% b = 'Công khai' %>
					<% end %> 
					</p>
					<p><strong>Thời gian khởi tạo : </strong><%= @question.created_at %></p>
					<%= link_to 'Edit', edit_question_path(@question) %>
				</div>
			</div>
		  <hr>
		  <div class="question-block mt-3"> 
		  	<p class="question-title">
					<strong>Câu hỏi : </strong>
					<%= @question.content %>
				</p>
				<% case @question.attach_type %>
				<% when "Images" %>
				<div class="d-flex justify-content-center pb-3">	<%= image_tag @question.image ,class:"ques-test-img"%> </div>
				<% when "Sound" %>
					<%= audio_tag rails_blob_path(@question.sound), controls: true %>
				<% when "Video" %>
					<%= video_tag rails_blob_path(@question.video), controls: true %>
				<% end %>
 				<div class="answer-block" data-question-type="multi_choice">
 					<div class="question-form" accept-charset="UTF-8" method="post"> 

            <%if @question.correct1 %>
              <div class="s_question_selection checked_border right_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= @question.answer1 %></code>
                </span>
              </div>
            <% else %>
              <div class="s_question_selection checked_border">
                <span class="choice-index-span">
                  <code><%= @question.answer1 %></code>
                </span>
              </div>
            <% end %>

						<%if @question.correct2 %>
              <div class="s_question_selection checked_border right_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= @question.answer2 %></code>
                </span>
              </div>
            <% else %>
              <div class="s_question_selection checked_border">
                <span class="choice-index-span">
                  <code><%= @question.answer2 %></code>
                </span>
              </div>
            <% end %>
						            
						<%if @question.correct3 %>
              <div class="s_question_selection checked_border right_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= @question.answer3 %></code>
                </span>
              </div>
            <% else %>
              <div class="s_question_selection checked_border">
                <span class="choice-index-span">
                  <code><%= @question.answer3 %></code>
                </span>
              </div>
            <% end %>
						            
						<%if @question.correct4 %>
              <div class="s_question_selection checked_border right_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= @question.answer4 %></code>
                </span>
              </div>
            <% else %>
              <div class="s_question_selection checked_border">
                <span class="choice-index-span">
                  <code><%= @question.answer4 %></code>
                </span>
              </div>
            <% end %>

 					</div>
 				</div>
 			</div>
			<hr>
			<div class="d-flex justify-content-center">

			</div>
	  </div>
	</div>
</div>

