<%# <h2>Edit <%= resource_name.to_s.humanize % ></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| % >
  <%= render "devise/shared/error_messages", resource: resource % >

  <div class="field">
    <%= f.label :email % ><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" % >
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? % >
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email % ></div>
  <% end % >

  <div class="field">
    <%= f.label :password % > <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" % >
    <% if @minimum_password_length % >
      <br />
      <em><%= @minimum_password_length % > characters minimum</em>
    <% end % >
  </div>

  <div class="field">
    <%= f.label :password_confirmation % ><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" % >
  </div>

  <div class="field">
    <%= f.label :current_password % > <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" % >
  </div>

  <div class="actions">
    <%= f.submit "Update" % >
  </div>
<% end % >

<%= link_to "Back", :back % > %>


<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card" style="height: 450px;">
      <div class="card-header">
        <h3>Đăng nhập</h3>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control" ,placeholder:"email"%>
            
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control" ,placeholder:"new password (6 characters minimum)"%>
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <%= f.password_field :password_confirmation,autocomplete: "new-password" ,class:"form-control" ,placeholder:"new password confirmation"%>
          </div>
          <div class="input-group form-group">
            <strong style="color:white;">Current password</strong>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <%= f.password_field :current_password,autocomplete: "new-password" ,class:"form-control" ,placeholder:"current password"%>
          </div>

          <div class="form-group">
            <%= f.submit "Update" ,class:"btn float-right login_btn"%>
          </div>
        <% end %>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
           <%= link_to "Go back", :back %>
        </div>
        
      </div>
    </div>
  </div>
</div>
