<div class="pt-4 d-flex justify-content-center">
	<div class="card card_center">
		<div class="card-header">
			<div class="row">
				<div class="col-sm-6">
					<h2 id="title-page">Tài khoản</h2>
				</div>
					<div class="col-sm-6 ">
							<!--<div class="input-group">
								<input type="text" class="form-control" placeholder="Nội dung tìm kiếm .." aria-label="Search for">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
								</div>
							</div>-->

							<div class="form-group">
								<%= form_tag users_path, method: :get, remote: true, id: 'user-search', class:"form-inline"  do %>
    								<%= text_field_tag :user_search, params[:user_search], class:"form-control", placeholder:"Nội dung tìm kiếm .." %>
									<div class="input-group-append">
										<%= submit_tag "Search", name: nil, class:"btn btn-outline-secondary" %>
									</div>    											
								<% end %>
							</div>   
					</div>
			</div>
		</div>
		<div class="card-body">
			<div id="all-mail" >
				<table class="table table-hover table-bordered mail-table">
					<thead class="thead-dark">
						<tr> 
							<th scope="col">Email</th>
							<th scope="col">Thời gian tạo</th>
							<th scope="col">Quyền</th>
							<th scope="col">Tùy chỉnh</th>
						</tr>
					</thead>
					<tbody id = "show_all_user">
						<%= render @users %>
					</tbody>
				</table>
				<div id="show_will_paginate"><%= will_paginate @tests %></div>
			</div>
		</div>
	</div>
</div>