<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card" style="height: 305px;">
      <div class="card-header" >
        <h3>Quên mật khẩu ?</h3>
      </div>
      <div class="card-body" >
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control" ,placeholder:"Nhập email của tài khoản"%>
          </div>

          <div class="form-group">
            <%= f.submit "Send" ,class:"btn float-right login_btn"%>
          </div>
        <% end %>
      </div>
      <div class="card-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
