<div class="pt-4 d-flex justify-content-center">
	<div class="card card_center">
		<div class="card-header">
			<div class="row">
				<div class="col-sm-6">
					<h2 id="title-page">Tổng hợp bài test</h2>
				</div>
			</div>
		</div>
		<div class="card-body">
			<%= button_to 'Làm bài test', create_test_path, data: { confirm: 'Are you sure?' },
			 	method: :post, remote: true, class: "do-test btn btn-outline-warning mb-3" %> 
			<div id="all-mail" >
				<table class="table table-hover table-bordered mail-table">
					<thead class="thead-dark">
						<tr> 
							<th scope="col">STT</th>
							<th scope="col">Điểm số</th>
							<th scope="col">Trạng thái</th>
							<th scope="col">Thời gian tạo</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<% @tests.each_with_index do |test ,index| %>
							<% if test.is_submit == false %>
							<tr class="not_submit_tr">
							<% else %>
							<tr>
							<% end %>
								<td><%= index + 1 %></td>
								<td><%= test.score  %></td>
								<td>
									<% if test.is_submit == true %>
										<%= 'Đã hoàn thành' %>
									<% else %>
										<%= 'Chưa hoàn thành' %> 
									<% end %>  
								</td>
								<td><%= test.created_at  %></td>
								<td>
									<% if test.is_submit == false %>
										<%= link_to 'Tiếp tục hoàn thành', do_test_path(id: test.id) %>
									<% else %>
										<%= link_to 'Xem', test_path(test)%>
									<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<div id="show_will_paginate"><%= will_paginate @tests %></div>
			</div>
		</div>
	</div>
</div>

