<%# <h1>Errors#internal_server_error</h1>
<p>Find me in app/views/errors/internal_server_error.html.erb</p> %>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1><span>5</span><span>0</span><span>0</span></h1>
			</div>
			<h2>Internal server error</h2>
		</div>
	</div>