<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Đăng nhập</h3>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control" ,placeholder:"email"%>
            
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "current-password" ,class:"form-control" ,placeholder:"password"%>
          </div>
          <% if flash[:alert] == "Invalid Email or password."%>
            <div class="input-group form-group">
              <div class="invalid-feedback pl-5 ml-2 display-inline" >
                Email hoặc password không đúng !
              </div>
            </div>
          <% end %>
          <% if devise_mapping.rememberable? %>
          <div class="row align-items-center remember">
            <%= f.check_box :remember_me %>Remember Me
          </div>
          <% end %>
          <div class="form-group">
            <%= f.submit "Log in" ,class:"btn float-right login_btn"%>
          </div>
        <% end %>
      </div>
      <div class="card-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>