/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome";
@import "questions";
@import "tests";
@import "users";
@import "home";
@import "devise";
@import "bootstrap4-toggle.min";
@import "not_found";

.container{
  max-width: 1000px;
}
.navbar{
  border-bottom: 1px solid rgba(0,0,0,.0975);
}
.user-section{
  a{
    padding-left: 15px;
  }
  i.fa{
    font-size: 22px;
    color: #000000d4;
  }
}
.search-form{
  input{
    font-size: 13px;
    text-align: center;
  }
}
.footer{
  font-size: 12px;
  padding-top: 30px;
  ul{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 15px;
      color: #003569;
    }
  }
  p{
    color: #999;
  }
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.pagination *{
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
/* line 17, /home/quochoang997/.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/bootstrap-4.3.1/assets/stylesheets/bootstrap/_pagination.scss */
.pagination a:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
/* line 25, /home/quochoang997/.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/bootstrap-4.3.1/assets/stylesheets/bootstrap/_pagination.scss */
.pagination a :focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* line 34, /home/quochoang997/.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/bootstrap-4.3.1/assets/stylesheets/bootstrap/_pagination.scss */
.previous_page {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
/* line 40, /home/quochoang997/.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/bootstrap-4.3.1/assets/stylesheets/bootstrap/_pagination.scss */
.next_page {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
/* line 45, /home/quochoang997/.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/bootstrap-4.3.1/assets/stylesheets/bootstrap/_pagination.scss */
.current{
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
/* line 52, /home/quochoang997/.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/bootstrap-4.3.1/assets/stylesheets/bootstrap/_pagination.scss */