// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.home {
  .not_submit_tr{
    background-color: #FFE6EA;
  }
}