// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.users {
  #user_link{
    color: white;
  }
  .card_center{
    min-width: 942px;
  }
}

.card_center{
  min-width: 942px;
}