</tr>
	<td><%= test.user.email %></td>
	<td><%= test.score  %></td>
	<td>
		<% if test.is_submit == true %>
			<%= 'Đã hoàn thành' %>
		<% else %>
			<%= 'Chưa hoàn thành' %> 
		<% end %>  
	</td>
	<td><%= test.created_at  %></td>
	<td><%= link_to 'Xem', test_path(test)%></td>
</tr>