<div class="container mt-4">
	<div class="card">
	  <div class="card-body p-0">
			<div class="d-flex p-4">
				<div class="mr-auto p-2">
					<h2 id="title-page">Làm bài test</h2>
				</div>
				<div class="p-2">
					<p><strong>Trạng thái : </strong>
						<% if @test.is_submit == true %>
							<%= 'Đã hoàn thành' %>
						<% else %>
							<%= 'Chưa hoàn thành' %> 
						<% end %>  
					</p>
					<p><strong>Điểm số : </strong><%= @test.score %> / <%= @test.quizzes.length %></p>
				</div>
			</div>
		  <hr>
			<% index = 1 %>
			<%= form_for @test do |form| %>
			<%= form.fields_for :quizzes do |quiz| %>
		  <div class="question-index-<%=index%> question-block"> 
		  	<p class="question-title">
					<strong>Câu <%=index%> : </strong>
					<%= quiz.object.question.content %>
				</p>
				<% case quiz.object.question.attach_type %>
				<% when "Images" %>
				<div class="d-flex justify-content-center pb-3">	<%= image_tag quiz.object.question.image ,class:"ques-test-img"%> </div>
				<% when "Sound" %>
					<%= audio_tag rails_blob_path(quiz.object.question.sound), controls: true %>
				<% when "Video" %>
					<%= video_tag rails_blob_path(quiz.object.question.video), controls: true %>
				<% end %>
 				<div class="answer-block" data-question-type="multi_choice">
 					<div class="question-form" accept-charset="UTF-8" method="post"> 
 						<div class="question-selection">
							<%= quiz.check_box :check1 ,id:"multi-choice-0" ,value:"0" ,class:"check_box_test"%>
 							<span class="choice-index-span">
 								<code><%= quiz.object.question.answer1 %></code>
 							</span>
 						</div> 
						<div class="question-selection">
							<span class="choice-index-span">
 								<%= quiz.check_box :check2 ,id:"multi-choice-1" ,value:"1" ,class:"check_box_test"%>
								<code><%= quiz.object.question.answer2 %></code>
 							</span>
 						</div> 
 						<div class="question-selection">
							<%= quiz.check_box :check3 ,id:"multi-choice-2" ,value:"2" ,class:"check_box_test"%>
 							<span class="choice-index-span">
 								<code><%= quiz.object.question.answer3 %></code>
							</span>
 						</div> 
 						<div class="question-selection">
							<%= quiz.check_box :check4 ,id:"multi-choice-3" ,value:"3" ,class:"check_box_test"%>
							<span class="choice-index-span">
								<code><%= quiz.object.question.answer4 %></code>
							</span>
 						</div>
						<div class="invalid-feedback display-inline d-flex pt-2 invalid-index-<%=index%>" style="visibility: hidden;">
							Vui lòng chọn đáp án trả lời !
						</div>
 					</div>
 				</div>
 			</div>
			<% index += 1 %>
			<%end%>
			<hr>
			<div class="d-flex justify-content-center">
				<%= form.submit 'Nộp bài' ,class:"btn btn-success",id: "do-test-submit"%>  
			</div>
			<% end %>
	  </div>
	</div>
</div>