<div class="container mt-4">
	<div class="card">
	  <div class="card-body">
			<div class="d-flex">
				<div class="mr-auto p-2">
					<h2 id="title-page">Bài test đã hoàn thành</h2>
				</div>
				<div class="p-2">
					<p><strong>Thời gian : </strong>
						<%= @test.updated_at %> 
					</p>
					<p><strong>Điểm số : </strong><%= @test.score %> / <%= @test.quizzes.length %></p>
				</div>
			</div>
		  <hr>
			<% index = 1 %>
			<%= form_for @test do |form| %>
			<%= form.fields_for :quizzes do |quiz| %>
		  <div class="question-block mt-3"> 
		  	<p class="question-title">
					<strong>Câu <%=index%> : </strong>
					<%= quiz.object.question.content %>
				</p>
				<% case quiz.object.question.attach_type %>
				<% when "Images" %>
				<div class="d-flex justify-content-center pb-3">	<%= image_tag quiz.object.question.image ,class:"ques-test-img"%> </div>
				<% when "Sound" %>
					<%= audio_tag rails_blob_path(quiz.object.question.sound), controls: true %>
				<% when "Video" %>
					<%= video_tag rails_blob_path(quiz.object.question.video), controls: true %>
				<% end %>
 				<div class="answer-block" data-question-type="multi_choice">
 					<div class="question-form" > 
            <%if quiz.object.question.correct1 %>
              <div class="s_question_selection checked_border right_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= quiz.object.question.answer1 %></code>
                </span>
                <% if quiz.object.check1%>
                  <i class="fa fa-check ml-auto"></i>
                <% end %>
              </div>
            <% elsif quiz.object.check1%>
              <div class="s_question_selection checked_border wrong_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= quiz.object.question.answer1 %></code>
                </span>
                <% if quiz.object.check1%>
                  <i class="fa fa-close ml-auto"></i>
                <% end %>
              </div>
            <% else %>
              <div class="s_question_selection checked_border no_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= quiz.object.question.answer1 %></code>
                </span>
              </div>
            <% end %>



            <%if quiz.object.question.correct2 %>
              <div class="s_question_selection checked_border right_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= quiz.object.question.answer2 %></code>
                </span>
                <% if quiz.object.check2%>
                  <i class="fa fa-check ml-auto"></i>
                <% end %>
              </div>
            <% elsif quiz.object.check2%>
              <div class="s_question_selection checked_border wrong_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= quiz.object.question.answer2 %></code>
                </span>
                <% if quiz.object.check2%>
                  <i class="fa fa-close ml-auto"></i>
                <% end %>
              </div>
            <% else %>
              <div class="s_question_selection checked_border no_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= quiz.object.question.answer2 %></code>
                </span>
              </div>
            <% end %>

            <%if quiz.object.question.correct3 %>
              <div class="s_question_selection checked_border right_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= quiz.object.question.answer3 %></code>
                </span>
                <% if quiz.object.check3%>
                  <i class="fa fa-check ml-auto"></i>
                <% end %>
              </div>
            <% elsif quiz.object.check3%>
              <div class="s_question_selection checked_border wrong_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= quiz.object.question.answer3 %></code>
                </span>
                <% if quiz.object.check3%>
                  <i class="fa fa-close ml-auto"></i>
                <% end %>
              </div>
            <% else %>
              <div class="s_question_selection checked_border no_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= quiz.object.question.answer3 %></code>
                </span>
              </div>
            <% end %>

            <%if quiz.object.question.correct4 %>
              <div class="s_question_selection checked_border right_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= quiz.object.question.answer4 %></code>
                </span>
                <% if quiz.object.check4%>
                  <i class="fa fa-check ml-auto"></i>
                <% end %>
              </div>
            <% elsif quiz.object.check4%>
              <div class="s_question_selection checked_border wrong_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= quiz.object.question.answer4 %></code>
                </span>
                <% if quiz.object.check4%>
                  <i class="fa fa-close ml-auto"></i>
                <% end %>
              </div>
            <% else %>
              <div class="s_question_selection checked_border no_checked_border d-flex">
                <span class="choice-index-span">
                  <code><%= quiz.object.question.answer4 %></code>
                </span>
              </div>
            <% end %>

 					</div>
 				</div>
 			</div>
			<% index += 1 %>
			<%end%>
			<hr>
			<div class="d-flex justify-content-center">
        <%= link_to 'Back', root_path%>
			</div>
			<% end %>
	  </div>
	</div>
</div>